<ion-view view-title="Mầu Nhiệm năm Sự {{title}}">
  <ion-content>
    <div class="card" ng-repeat="item in su" >
      <div class="item item-divider">
        <h2>{{item.thu}}</h2>
      </div>
      <div on-tap="countUp()" class="item item-text-wrap item-thumbnail-left">
      <img src="img/{{item.icon}}">
        <p>{{item.ngam}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
<script>
if count == null { var count = 0; }

function countUp() {
  count = count++;
    console.log(count);
}


</script>
